.direnv/
.zig-cache/
**/.kai/*
!/.kai/lock.json
generated-docs
zig-out/
dist/
result
result-*
kai
kai-issues/
.basic-cli
/kaifile/platform/targets/*/libhost.a
/kaifile/platform/.zig-cache/
/kaifile/platform/zig-out/
