.direnv/
.zig-cache/
.kai
.roc-fuzz/
generated-docs
zig-out/
dist/
result
result-*
/examples/plugins/custom-plugin/xkai
/xkai-dev
kai
kai-issues/
.basic-cli
/blueprint/platform/targets/*/libhost.a
/blueprint/platform/.zig-cache/
/blueprint/platform/zig-out/
